@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Rocky.Models.InquiryDetails


<form method="post" asp-action="Update">
    <div class="border p-3">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group row">
            <h2 class="text-info pl-3">Add Inquiry Status</h2> 
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">

                    <input asp-for="Id" hidden />
                    <div class="col-4">
                        <label asp-for="status"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="status" class="form-control">
                            <option disabled selected>Select Status</option>
                            <option value="In Process">In Process</option>
                            <option value="Completed">Completed</option>
                            <option value="unable to reach">unable to reach</option>
                        </select>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                   

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>

@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" /> }

}